@use '../../../../styles/mixins'

.purchase-information
  @include mixins.flex (center, center, wrap)
  gap: 119px
  padding-bottom: 6px
  margin: 6px 0
  border-bottom: 1px solid #F0F0F0

  li
    @include mixins.flex (center, center, wrap)
    gap: 15.56px
